@{
    ViewBag.Title = "Home Page";
  
}


    <div class="body-wrapper">
        <h1 class="body-content">Samra Faraz</h1>
        <p class="body-content">I am a developer with over 6 years of experience in fron-end and back-end systems.</p>
        <h2 class="body-content">My Projects</h2>
        <table width="100%">
            <tr style="padding-bottom:5px; padding-top:5px;">
                <td align="center">
                    <h3>Eros Tracker</h3>
                </td>
                <td>
                    <img class="body-content" src="~/Content/Images/ErosTracker.jpg" width="100%" />
                </td>
            </tr>
            <tr style="padding-bottom:5px; padding-top:5px;">
                <td align="center">
                    <h3 class="body-content">Order Smart</h3>
                </td>
                <td>
                    <img class="body-content" src="~/Content/Images/orderSmart.jpg" width="100%" />
                </td>
            </tr>
        </table>
    </div>

