@{
    ViewBag.Title = "Home Page";
  
}

<body>
    <div class="body-wrapper">
        <h1>Samra Faraz</h1>
        <p>I am a developer with over 6 years of experience in fron-end and back-end systems.</p>
        <h2>My Projects</h2>
        <table width="100%">
            <tr>
                <td>
                    <h3>Eros Tracker</h3>
                </td>
                <td>
                    <img src="~/Content/Images/ErosTracker.jpg" width="100%" />
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Order Smart</h3>
                </td>
                <td>
                    <img src="~/Content/Images/orderSmart.jpg" width="100%" />
                </td>
            </tr>
        </table>
    </div>
</body>
